// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.camel-template {
  padding-top: 50px;
}

.camel-template .status {
  padding-top: 10px;
}

.alert {
  margin-top: 10px;
}
